html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.content .header {
  font-size: 50px;
  letter-spacing: -1px;
  margin: 1rem 0;
  font-weight: bold;
  color: rgb(219, 219, 219);
}
